#chart {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


body{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.login{
    width: 250px;
    height: 250px;
    text-align: left;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.margin-5{
    margin: 5px;
}
.ui-input{
    font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size:12px;
    min-width:250px;
    height:21px;
    padding:0 5px;
    border:solid 1px #bfbfbf;
    width:auto;
    cursor:pointer
}